*PANDAS CSV*

In [ ]:
import pandas as pd
data1 = pd.read_csv("Data Mahasiswa Kelas Sains Data .csv")
print(data1)

          NPM                                           NAMA
0   184220001                            Mhd. Haikal Baihaqi
1   184220002                                Gilang Al-Raffi
2   184220003                             Siti Salwa Azzahra
3   184220004              Maria Bernadina B. Cintany Lustin
4   184220005                        Muhamad Rafif Al-Hafizh
5   184220007                             Paulina Bota Kolin
6   184220008                            L.M.Aznur Syahfajar
7   184220010                             Mylo Aleffa Rahman
8   184220011                             Sabrina Nur Anisah
9   184220012                      Muhammad Vito Aristawidya
10  184220013                                Firna Ulfiani R
11  184220015                    Muhammad Reefy Hidayatullah
12  184220019                        Aulia Rahmadiva Wardana
13  184220021                             Maysa Zaidee Aulia
14  184220022                           NAUFAL PANJI PURNOMO
15  184220023                Salsa Paringga Pangestu Ningsih
16  184220024                             Nita Sawalia Fitri
17  184220025  Christopher Damar Nugroho Amizeno Ranga Sogen
18  184220026                           Fahriza Aulia Rahman
19  184220027                                  Ridla Ashrina
20  184220028                   Gabriella Mustika Anugraheni
21  184220029                          Thiodas Heni Pakpahan
22  184220030                               Aldi Daim Fauzan
23  184220031                           NASYWA NUR HANDAYANI
24  184220032                                          Yusuf
25  184220033                      Raditio Ananto Hargiyanto

# Import Pandas DataFrame

In [ ]:
import pandas as vt
data = {
    "Nama": ["M. Haikal Baihaqi","Gilang Al-Raffi","Siti Salwa Azzahra","Maria Bernadina B. Citany Lustin","Muhamad Rafif Al-Hafizh","Paulina Bota Kolin","L.M Azur Syahfajar","Mylo Aleffa Rahman","Sabrina Nur Anisah","Muhammad Vito Arista Widya","Firna Ulfiani R","Muhammad Reefy Hidayatullah","Aulia Rahmadiva Wardana","Maysa Zaidee Aulia","NAUFAL PANJI PURNOMO","Salsa Paringga Pangestu Ningsih","Nita Sawalia Fitri","Christoper Damar Nugroho Amizeno Ranga Sogen","Fahriza Aulia Rahman","Ridla Ashrina","Gabriella Mustika Anugraheni","Thiodas Heni Pakpahan","Aldi Daim Fuazan","NASYWA NUR HADAYANI","Yusuf","Raditio Ananto Nugroho"],
    "NPM" : [184220001,184220002,184220003,184220004 ,184220005,184220007,184220008,184220010,184220011,184220012,184220013,184220015,184220019,184220021,184220022,184220023,184220024,184220025,184220026,184220027,184220028,184220029,184220030,184220031,184220032,184220033]
}
var = vt.DataFrame(data)
print(var)

                                            Nama        NPM
0                              M. Haikal Baihaqi  184220001
1                                Gilang Al-Raffi  184220002
2                             Siti Salwa Azzahra  184220003
3               Maria Bernadina B. Citany Lustin  184220004
4                        Muhamad Rafif Al-Hafizh  184220005
5                             Paulina Bota Kolin  184220007
6                             L.M Azur Syahfajar  184220008
7                             Mylo Aleffa Rahman  184220010
8                             Sabrina Nur Anisah  184220011
9                     Muhammad Vito Arista Widya  184220012
10                               Firna Ulfiani R  184220013
11                   Muhammad Reefy Hidayatullah  184220015
12                       Aulia Rahmadiva Wardana  184220019
13                            Maysa Zaidee Aulia  184220021
14                          NAUFAL PANJI PURNOMO  184220022
15               Salsa Paringga Pangestu Ningsih  184220023
16                            Nita Sawalia Fitri  184220024
17  Christoper Damar Nugroho Amizeno Ranga Sogen  184220025
18                          Fahriza Aulia Rahman  184220026
19                                 Ridla Ashrina  184220027
20                  Gabriella Mustika Anugraheni  184220028
21                         Thiodas Heni Pakpahan  184220029
22                              Aldi Daim Fuazan  184220030
23                           NASYWA NUR HADAYANI  184220031
24                                         Yusuf  184220032
25                        Raditio Ananto Nugroho  184220033

# Pandas Series

In [ ]:
import pandas as dt 

Nama = ["M. Haikal Baihaqi","Gilang Al-Raffi","Siti Salwa Azzahra","Maria Bernadina B. Citany Lustin","Muhamad Rafif Al-Hafizh","Paulina Bota Kolin","L.M Azur Syahfajar","Mylo Aleffa Rahman","Sabrina Nur Anisah","Muhammad Vito Arista Widya","Firna Ulfiani R","Muhammad Reefy Hidayatullah","Aulia Rahmadiva Wardana","Maysa Zaidee Aulia","NAUFAL PANJI PURNOMO","Salsa Paringga Pangestu Ningsih","Nita Sawalia Fitri","Christoper Damar Nugroho Amizeno Ranga Sogen","Fahriza Aulia Rahman","Ridla Ashrina","Gabriella Mustika Anugraheni","Thiodas Heni Pakpahan","Aldi Daim Fuazan","NASYWA NUR HADAYANI","Yusuf","Raditio Ananto Nugroho"]

var= dt.Series(Nama)
print(var)

0                                M. Haikal Baihaqi
1                                  Gilang Al-Raffi
2                               Siti Salwa Azzahra
3                 Maria Bernadina B. Citany Lustin
4                          Muhamad Rafif Al-Hafizh
5                               Paulina Bota Kolin
6                               L.M Azur Syahfajar
7                               Mylo Aleffa Rahman
8                               Sabrina Nur Anisah
9                       Muhammad Vito Arista Widya
10                                 Firna Ulfiani R
11                     Muhammad Reefy Hidayatullah
12                         Aulia Rahmadiva Wardana
13                              Maysa Zaidee Aulia
14                            NAUFAL PANJI PURNOMO
15                 Salsa Paringga Pangestu Ningsih
16                              Nita Sawalia Fitri
17    Christoper Damar Nugroho Amizeno Ranga Sogen
18                            Fahriza Aulia Rahman
19                                   Ridla Ashrina
20                    Gabriella Mustika Anugraheni
21                           Thiodas Heni Pakpahan
22                                Aldi Daim Fuazan
23                             NASYWA NUR HADAYANI
24                                           Yusuf
25                          Raditio Ananto Nugroho
dtype: object

In [ ]:
print(var[8])

Sabrina Nur Anisah

In [ ]:
import pandas as dt 

Nama = ["M. Haikal Baihaqi","Gilang Al-Raffi","Siti Salwa Azzahra","Maria Bernadina B. Citany Lustin","Muhamad Rafif Al-Hafizh","Paulina Bota Kolin","L.M Azur Syahfajar","Mylo Aleffa Rahman","Sabrina Nur Anisah","Muhammad Vito Arista Widya","Firna Ulfiani R","Muhammad Reefy Hidayatullah","Aulia Rahmadiva Wardana","Maysa Zaidee Aulia","NAUFAL PANJI PURNOMO","Salsa Paringga Pangestu Ningsih","Nita Sawalia Fitri","Christoper Damar Nugroho Amizeno Ranga Sogen","Fahriza Aulia Rahman","Ridla Ashrina","Gabriella Mustika Anugraheni","Thiodas Heni Pakpahan","Aldi Daim Fuazan","NASYWA NUR HADAYANI","Yusuf","Raditio Ananto Nugroho"]

# membuat label pada data
myvar = pd.Series(Nama, index = ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"])

print(myvar)

a                               M. Haikal Baihaqi
b                                 Gilang Al-Raffi
c                              Siti Salwa Azzahra
d                Maria Bernadina B. Citany Lustin
e                         Muhamad Rafif Al-Hafizh
f                              Paulina Bota Kolin
g                              L.M Azur Syahfajar
h                              Mylo Aleffa Rahman
i                              Sabrina Nur Anisah
j                      Muhammad Vito Arista Widya
k                                 Firna Ulfiani R
l                     Muhammad Reefy Hidayatullah
m                         Aulia Rahmadiva Wardana
n                              Maysa Zaidee Aulia
o                            NAUFAL PANJI PURNOMO
p                 Salsa Paringga Pangestu Ningsih
q                              Nita Sawalia Fitri
r    Christoper Damar Nugroho Amizeno Ranga Sogen
s                            Fahriza Aulia Rahman
t                                   Ridla Ashrina
u                    Gabriella Mustika Anugraheni
v                           Thiodas Heni Pakpahan
w                                Aldi Daim Fuazan
x                             NASYWA NUR HADAYANI
y                                           Yusuf
z                          Raditio Ananto Nugroho
dtype: object

In [ ]:
print(myvar['f'])

Paulina Bota Kolin

# Key/Value Object Series Pada Pandas

In [ ]:
import pandas as vt

Nama = { 
        "M. Haikal Baihaqi":1, "Gilang Al-Raffi":2, "Siti Salwa Azzahra":3, "Maria Bernadina B. Citany Lustin":4, "Muhamad Rafif Al-Hafizh":5, "Paulina Bota Kolin":6, "L.M Azur Syahfajar":7, 
        "Mylo Aleffa Rahman":8, "Sabrina Nur Anisah":9, "Muhammad Vito Arista Widya":10, "Firna Ulfiani R":11, "Muhammad Reefy Hidayatullah":12, "Aulia Rahmadiva Wardana":13, "Maysa Zaidee Aulia":14,
        "NAUFAL PANJI PURNOMO":15, "Salsa Paringga Pangestu Ningsih":16, "Nita Sawalia Fitri":17, "Christoper Damar Nugroho Amizeno Ranga Sogen":18, "Fahriza Aulia Rahman":19, "Ridla Ashrina":20,
        "Gabriella Mustika Anugraheni":21,"Thiodas Heni Pakpahan":22,"Aldi Daim Fuazan":23,"NASYWA NUR HADAYANI":24,"Yusuf":25,"Raditio Ananto Nugroho":26 
        }
myvar = vt.Series (Nama)
print(myvar)

M. Haikal Baihaqi                                1
Gilang Al-Raffi                                  2
Siti Salwa Azzahra                               3
Maria Bernadina B. Citany Lustin                 4
Muhamad Rafif Al-Hafizh                          5
Paulina Bota Kolin                               6
L.M Azur Syahfajar                               7
Mylo Aleffa Rahman                               8
Sabrina Nur Anisah                               9
Muhammad Vito Arista Widya                      10
Firna Ulfiani R                                 11
Muhammad Reefy Hidayatullah                     12
Aulia Rahmadiva Wardana                         13
Maysa Zaidee Aulia                              14
NAUFAL PANJI PURNOMO                            15
Salsa Paringga Pangestu Ningsih                 16
Nita Sawalia Fitri                              17
Christoper Damar Nugroho Amizeno Ranga Sogen    18
Fahriza Aulia Rahman                            19
Ridla Ashrina                                   20
Gabriella Mustika Anugraheni                    21
Thiodas Heni Pakpahan                           22
Aldi Daim Fuazan                                23
NASYWA NUR HADAYANI                             24
Yusuf                                           25
Raditio Ananto Nugroho                          26
dtype: int64

In [ ]:
myvar = pd.Series(Nama, index = ["Fahriza Aulia Rahman", "Ridla Ashrina", "Thiodas Heni Pakpahan" ])
print(myvar)

Fahriza Aulia Rahman     19
Ridla Ashrina            20
Thiodas Heni Pakpahan    22
dtype: int64

# Locate Row

In [ ]:
import pandas as vt
data = {
    "Nama": ["M. Haikal Baihaqi","Gilang Al-Raffi","Siti Salwa Azzahra","Maria Bernadina B. Citany Lustin","Muhamad Rafif Al-Hafizh","Paulina Bota Kolin","L.M Azur Syahfajar","Mylo Aleffa Rahman","Sabrina Nur Anisah","Muhammad Vito Arista Widya","Firna Ulfiani R","Muhammad Reefy Hidayatullah","Aulia Rahmadiva Wardana","Maysa Zaidee Aulia","NAUFAL PANJI PURNOMO","Salsa Paringga Pangestu Ningsih","Nita Sawalia Fitri","Christoper Damar Nugroho Amizeno Ranga Sogen","Fahriza Aulia Rahman","Ridla Ashrina","Gabriella Mustika Anugraheni","Thiodas Heni Pakpahan","Aldi Daim Fuazan","NASYWA NUR HADAYANI","Yusuf","Raditio Ananto Nugroho"],
    "NPM" : [184220001,184220002,184220003,184220004 ,184220005,184220007,184220008,184220010,184220011,184220012,184220013,184220015,184220019,184220021,184220022,184220023,184220024,184220025,184220026,184220027,184220028,184220029,184220030,184220031,184220032,184220033]
}
var = vt.DataFrame(data)
dt = pd.DataFrame(data)

print(var)

                                            Nama        NPM
0                              M. Haikal Baihaqi  184220001
1                                Gilang Al-Raffi  184220002
2                             Siti Salwa Azzahra  184220003
3               Maria Bernadina B. Citany Lustin  184220004
4                        Muhamad Rafif Al-Hafizh  184220005
5                             Paulina Bota Kolin  184220007
6                             L.M Azur Syahfajar  184220008
7                             Mylo Aleffa Rahman  184220010
8                             Sabrina Nur Anisah  184220011
9                     Muhammad Vito Arista Widya  184220012
10                               Firna Ulfiani R  184220013
11                   Muhammad Reefy Hidayatullah  184220015
12                       Aulia Rahmadiva Wardana  184220019
13                            Maysa Zaidee Aulia  184220021
14                          NAUFAL PANJI PURNOMO  184220022
15               Salsa Paringga Pangestu Ningsih  184220023
16                            Nita Sawalia Fitri  184220024
17  Christoper Damar Nugroho Amizeno Ranga Sogen  184220025
18                          Fahriza Aulia Rahman  184220026
19                                 Ridla Ashrina  184220027
20                  Gabriella Mustika Anugraheni  184220028
21                         Thiodas Heni Pakpahan  184220029
22                              Aldi Daim Fuazan  184220030
23                           NASYWA NUR HADAYANI  184220031
24                                         Yusuf  184220032
25                        Raditio Ananto Nugroho  184220033

In [ ]:
print(dt.loc[9])
# mengeluarkan output yang ditunjuk melalui indeks baris

Nama    Muhammad Vito Arista Widya
NPM                      184220012
Name: 9, dtype: object

In [ ]:
print(dt.loc[[9,18,22]])
# mengeluarkan output yang ditunjuk dengan daftar indeks

                          Nama        NPM
9   Muhammad Vito Arista Widya  184220012
18        Fahriza Aulia Rahman  184220026
22            Aldi Daim Fuazan  184220030

# Load File To Data Frame

In [34]:
# Memasukkan file ke dataframe
import pandas as pd
# Membaca File CSV
data1 = pd.read_csv("Data Mahasiswa Kelas Sains Data .csv")
print(data1)

          NPM                                           NAMA  ASAL
0   184220001                            Mhd. Haikal Baihaqi   NaN
1   184220002                                Gilang Al-Raffi   NaN
2   184220003                             Siti Salwa Azzahra   NaN
3   184220004              Maria Bernadina B. Cintany Lustin   NaN
4   184220005                        Muhamad Rafif Al-Hafizh   NaN
5   184220007                             Paulina Bota Kolin   NaN
6   184220008                            L.M.Aznur Syahfajar   NaN
7   184220010                             Mylo Aleffa Rahman   NaN
8   184220011                             Sabrina Nur Anisah   NaN
9   184220012                      Muhammad Vito Aristawidya   NaN
10  184220013                                Firna Ulfiani R   NaN
11  184220015                    Muhammad Reefy Hidayatullah   NaN
12  184220019                        Aulia Rahmadiva Wardana   NaN
13  184220021                             Maysa Zaidee Aulia   NaN
14  184220022                           NAUFAL PANJI PURNOMO   NaN
15  184220023                Salsa Paringga Pangestu Ningsih   NaN
16  184220024                             Nita Sawalia Fitri   NaN
17  184220025  Christopher Damar Nugroho Amizeno Ranga Sogen   NaN
18  184220026                           Fahriza Aulia Rahman   NaN
19  184220027                                  Ridla Ashrina   NaN
20  184220028                   Gabriella Mustika Anugraheni   NaN
21  184220029                          Thiodas Heni Pakpahan   NaN
22  184220030                               Aldi Daim Fauzan   NaN
23  184220031                           NASYWA NUR HANDAYANI   NaN
24  184220032                                          Yusuf   NaN
25  184220033                      Raditio Ananto Hargiyanto   NaN

In [37]:
import pandas as pd
df = pd.read_csv("/content/Data Mahasiswa Kelas Sains Data .csv")
print(df.to_string)

<bound method DataFrame.to_string of           NPM                                           NAMA  ASAL
0   184220001                            Mhd. Haikal Baihaqi   NaN
1   184220002                                Gilang Al-Raffi   NaN
2   184220003                             Siti Salwa Azzahra   NaN
3   184220004              Maria Bernadina B. Cintany Lustin   NaN
4   184220005                        Muhamad Rafif Al-Hafizh   NaN
5   184220007                             Paulina Bota Kolin   NaN
6   184220008                            L.M.Aznur Syahfajar   NaN
7   184220010                             Mylo Aleffa Rahman   NaN
8   184220011                             Sabrina Nur Anisah   NaN
9   184220012                      Muhammad Vito Aristawidya   NaN
10  184220013                                Firna Ulfiani R   NaN
11  184220015                    Muhammad Reefy Hidayatullah   NaN
12  184220019                        Aulia Rahmadiva Wardana   NaN
13  184220021                             Maysa Zaidee Aulia   NaN
14  184220022                           NAUFAL PANJI PURNOMO   NaN
15  184220023                Salsa Paringga Pangestu Ningsih   NaN
16  184220024                             Nita Sawalia Fitri   NaN
17  184220025  Christopher Damar Nugroho Amizeno Ranga Sogen   NaN
18  184220026                           Fahriza Aulia Rahman   NaN
19  184220027                                  Ridla Ashrina   NaN
20  184220028                   Gabriella Mustika Anugraheni   NaN
21  184220029                          Thiodas Heni Pakpahan   NaN
22  184220030                               Aldi Daim Fauzan   NaN
23  184220031                           NASYWA NUR HANDAYANI   NaN
24  184220032                                          Yusuf   NaN
25  184220033                      Raditio Ananto Hargiyanto   NaN>